
<div class="form">
  <%= simple_form_for [team] do |f| %>
    <% if @team.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @team.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.input :title, placeholder: 'Titre' %>

    <%= f.input :description, placeholder: 'Description' %>
    <%= f.input :location, placeholder: 'Lieu' %>
    <%= f.input :capacity, placeholder: 'Membres' %>
     <%= f.input :photo %>
    <div class="text-center"> <%= f.button :submit,  value: 'CREER', class: 'btn-form' %> </div>
  <% end %>
</div>

