show.html.erb


<h4> <%= @team.title %> </h4>
<p> <%= @team.description %> </p>
<p> Capacity : <%= @team.capacity %> </p>


<%= link_to "Make a request", new_team_request_path(@team), class: "btn" %>



<h4> Requests : </h4>

<% @requests.each do |r| %>
<p> <%= r.text %> : <%= r.status %> </p>
<%= r.user.username %>
<% end %>

