<div class="container" >
  <br>
  <br>
  <br>
  <br>




  <h4> <%= @team.title %> </h4>
  <p> <%= @team.description %> </p>
  <p> Capacity : <%= @team.capacity %> </p>


  <%= link_to "Make a request", new_team_request_path(@team), class: "btn" %>



  <h4> Members : </h4>

  <% @members.each do |m| %>
  <%= m.user.username %>
  <%= m.user.id %>
  <% end %>
</div>
