
<div class="white-container " >
  <br>
  <br>
  <br>
  <br>


  <h1> Mes teams </h1>

  <div class="grey-container " >

    <% @teams.each do |t| %>

    <div class="team-card">

      <div class="tavatar", style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),  url('<%= image_path t.photo, height: 300, width: 400, crop: :fill %>')">
      </div>
      <div class="td">
        <h4> <%= t.title %> </h4>
        <p> <%= t.description %> </p>
         <%= link_to "MODIFIER" '<i class="fas fa-long-arrow-alt-right"></i>'.html_safe, team_path(t), class: "btn-simple" %>

      </div>
      <div class="lm">
        <p> <i class="fas fa-map-marker"></i> <%= t.location %></p>

        <% members = t.requests.where(team_id: t.id) %>
        <p> <i class="fas fa-users"></i> Membres :  <%= members.count %> / <%= t.capacity %></p>
        <br>


      </div>

    </div>

    <%end%>
  </div>

</div>

</div>


